<div class="card">
	<div class="card-header">
		{{ 'profile.change_address'|trans }}
	</div>
	<div class="card-body">
		{{ form_start(changeAddressForm) }}
		<div class="form-group mb-3">
			{{ form_label(changeAddressForm.street, 'profile.street'|trans, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(changeAddressForm.street, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(changeAddressForm.street) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(changeAddressForm.city, 'profile.city'|trans, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(changeAddressForm.city, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(changeAddressForm.city) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(changeAddressForm.postalCode, 'profile.postal_code'|trans, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(changeAddressForm.postalCode, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(changeAddressForm.postalCode) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(changeAddressForm.country, 'profile.country'|trans, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(changeAddressForm.country, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(changeAddressForm.country) }}
		</div>

		<!-- Submit Button -->
		<button type="submit" class="btn btn-primary">{{ 'profile.change_address_button'|trans }}</button>

		{{ form_end(changeAddressForm) }}
	</div>
</div>
