<div class="card">
	<div class="card-header">
		{{ 'profile.general_info'|trans }}
	</div>
	<div class="card-body">
		<h5 class="card-title">{{ 'profile.personal_info'|trans }}</h5>
		<p class="card-text"><strong>{{ 'profile.name'|trans }}:</strong> {{ app.user.firstName }} {{ app.user.lastName }}</p>
		<p class="card-text"><strong>{{ 'profile.email'|trans }}:</strong> {{ app.user.email }}</p>
		<p class="card-text"><strong>{{ 'profile.dob'|trans }}:</strong> {{ app.user.dateOfBirth|date('Y-m-d') }}</p>
	</div>
</div>
