{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {% include 'shared/nav.html.twig' %}

    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{{ path('app_profile_general_info') }}" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'app_profile_general_info' %}active{% endif %}">
                        General Information
                    </a>
                    <a href="{{ path('app_profile_change_password') }}" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'app_profile_change_password' %}active{% endif %}">
                        Change Password
                    </a>
                    <a href="{{ path('app_profile_change_email') }}" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'app_profile_change_email' %}active{% endif %}">
                        Change Email
                    </a>
                    <a href="{{ path('app_profile_change_address') }}" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'app_profile_change_address' %}active{% endif %}">
                        Change Address
                    </a>
                    <a href="{{ path('app_profile_delete_account') }}" class="list-group-item list-group-item-action text-danger {% if app.request.attributes.get('_route') == 'app_profile_delete_account' %}active{% endif %}">
                        Delete Account
                    </a>
                </div>
            </div>

            <div class="col-md-9">
                {{ content|raw }}
            </div>
        </div>
    </div>
    {% include 'shared/footer.html.twig' %}

{% endblock %}
