<h1>{{ 'email.confirmation.greeting'|trans }}</h1>

<p>
    {{ 'email.confirmation.instruction'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'email.confirmation.confirm_button'|trans }}</a>.
    {{ 'email.confirmation.expiry_notice'|trans({'%expiry%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}) }}
</p>

<p>
    {{ 'email.confirmation.cheers'|trans }}
</p>
