{% extends 'base.html.twig' %}

{% block title %}{{ 'admin_dashboard.title'|trans }}{% endblock %}

{% block body %}
    {% include 'shared/nav.html.twig' %}
    <div class="container mt-5 pt-5">
        <h1>{{ 'admin_dashboard.heading'|trans }}</h1>
        <p>{{ 'admin_dashboard.welcome_message'|trans }}</p>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'admin_dashboard.users'|trans }}</h5>
                        <p class="card-text">{{ 'admin_dashboard.total_users'|trans }} : {{ userCount }}</p>
                        <a href="{{ path('admin_manage_users') }}" class="btn btn-primary">{{ 'admin_dashboard.manage_users'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'admin_dashboard.products'|trans }}</h5>
                        <p class="card-text">{{ 'admin_dashboard.total_products'|trans }} : {{ productCount }}</p>
                        <a href="{{ path('admin_manage_products') }}" class="btn btn-primary">{{ 'admin_dashboard.manage_products'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'admin_dashboard.orders'|trans }}</h5>
                        <a href="{{ path('admin_manage_orders') }}" class="btn btn-primary">{{ 'admin_dashboard.manage_orders'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'admin_dashboard.messages'|trans }}</h5>
                        <p class="card-text">{{ 'admin_dashboard.manage_messages'|trans }}</p>
                        <a href="{{ path('admin_message_index') }}" class="btn btn-primary">{{ 'admin_dashboard.manage_messages_button'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
