{% extends 'base.html.twig' %}

{% block title %}{{ 'admin_orders.title'|trans }}{% endblock %}

{% block body %}
	{% include 'shared/nav.html.twig' %}
	<div class="container mt-5">
		<h1>{{ 'admin_orders.title'|trans }}</h1>
		<table class="table">
			<thead>
			<tr>
				<th>{{ 'admin_orders.id'|trans }}</th>
				<th>{{ 'admin_orders.date'|trans }}</th>
				<th>{{ 'admin_orders.total'|trans }}</th>
				<th>{{ 'admin_orders.status'|trans }}</th>
				<th>{{ 'admin_orders.actions'|trans }}</th>
			</tr>
			</thead>
			<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.orderDate|date('Y-m-d') }}</td>
					<td>{{ order.total }} €</td>
					<td>{{ order.status }}</td>
					<td>
						<!-- Add actions to manage the order here -->
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'shared/footer.html.twig' %}
{% endblock %}
