{% extends 'base.html.twig' %}

{% block title %}{{ 'admin_users.title'|trans }}{% endblock %}

{% block body %}
	{% include 'shared/nav.html.twig' %}
	<div class="container mt-5 pt-5">
		<h1>{{ 'admin_users.title'|trans }}</h1>
		<div class="mb-3">
			<a href="{{ path('admin_user_new') }}" class="btn btn-primary">{{ 'admin_users.add_new'|trans }}</a>
		</div>
		<table class="table">
			<thead>
			<tr>
				<th>{{ 'admin_users.id'|trans }}</th>
				<th>{{ 'admin_users.name'|trans }}</th>
				<th>{{ 'admin_users.email'|trans }}</th>
				<th>{{ 'admin_users.roles'|trans }}</th>
				<th>{{ 'admin_users.actions'|trans }}</th>
			</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.firstName }} {{ user.lastName }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles | join(', ') }}</td>
					<td>
						<a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-warning">{{ 'admin_users.edit'|trans }}</a>
						<a href="{{ path('admin_user_delete', {id: user.id}) }}" class="btn btn-danger" onclick="return confirm('{{ 'admin_users.confirm_delete'|trans }}');">{{ 'admin_users.delete'|trans }}</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'shared/footer.html.twig' %}

{% endblock %}
