{% extends 'base.html.twig' %}

{% block body %}
	{% include 'shared/nav.html.twig' %}

	<div class="container mt-5">
		<h2>{{ 'order.manage_orders'|trans }}</h2>

		<table class="table">
			<thead>
			<tr>
				<th>{{ 'order.id'|trans }}</th>
				<th>{{ 'order.date'|trans }}</th>
				<th>{{ 'order.total'|trans }}</th>
				<th>{{ 'order.customer'|trans }}</th>
				<th>{{ 'order.status'|trans }}</th>
				<th>{{ 'order.actions'|trans }}</th>
			</tr>
			</thead>
			<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.orderDate|date('d/m/Y') }}</td>
					<td>{{ order.total }} €</td>
					<td>{{ order.customer.email }}</td>
					<td>{{ order.status }}</td>
					<td>
						<a href="{{ path('admin_order_status', {id: order.id}) }}" class="btn btn-primary btn-sm">{{ 'order.change_status'|trans }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">{{ 'order.no_orders_found'|trans }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
