{% extends 'base.html.twig' %}

{% block body %}
	{% include 'shared/nav.html.twig' %}

	<div class="container mt-5">
		<h2>Mettre à jour le statut de la commande</h2>

		<div class="card p-4">
			<h5 class="mb-4">Commande #{{ order.id }}</h5>
			<p><strong>Date :</strong> {{ order.orderDate|date('d/m/Y') }}</p>
			<p><strong>Total :</strong> {{ order.total }} €</p>
			<p><strong>Client :</strong> {{ order.customer.email }}</p>

			{{ form_start(form) }}
			{{ form_row(form.status) }}
			{{ form_row(form.submit) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}