{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.title'|trans }}{% endblock %}

{% block body %}
    {% include 'shared/nav.html.twig' %}

    <div class="container mt-5 pt-5">
        <h1>{{ 'contact.heading'|trans }}</h1>

        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name, 'contact.name'|trans) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.email, 'contact.email'|trans) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.content, 'contact.message'|trans) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">{{ 'contact.send'|trans }}</button>
        {{ form_end(form) }}
    </div>
    {% include 'shared/footer.html.twig' %}

{% endblock %}
