<turbo-stream action="append" target="reviews-list">
	<template>
		<div class="review border-bottom pb-3 mb-3">
			<strong>{{ review.customer.firstName }} {{ review.customer.lastName }}</strong>
			<div>
				{% for i in 1..5 %}
					{% if i <= review.rating %}
						<i class="bi bi-star-fill" style="color: gold;"></i>
					{% else %}
						<i class="bi bi-star" style="color: gold;"></i>
					{% endif %}
				{% endfor %}
			</div>
			<p>{{ review.content }}</p>
			<small>{{ 'Posted on'|trans }} {{ review.createdAt|date('d/m/Y') }}</small>
		</div>
	</template>
</turbo-stream>
