{% extends 'base.html.twig' %}

{% block title %}{{ 'product.edit'|trans }}{% endblock %}

{% block body %}
	{% include 'shared/nav.html.twig' %}
	<div class="container mt-5">
		<h1 class="mb-4">{{ 'product.edit'|trans }}</h1>

		<div class="row">
			<div class="col-md-8">
				{{ form_start(form) }}

				<div class="form-group mb-3">
					{{ form_label(form.name, 'product.name'|trans) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.name) }}
				</div>

				<div class="form-group mb-3">
					{{ form_label(form.price, 'product.price'|trans) }}
					{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.price) }}
				</div>

				<div class="form-group mb-3">
					{{ form_label(form.stock, 'product.stock'|trans) }}
					{{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.stock) }}
				</div>

				<div class="form-group mb-3">
					{{ form_label(form.description, 'product.description'|trans) }}
					{{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 5}}) }}
					{{ form_errors(form.description) }}
				</div>

				<button type="submit" class="btn btn-success">{{ 'product.save'|trans }}</button>
				<a href="{{ path('admin_product_index') }}" class="btn btn-secondary ml-2">{{ 'product.back_to_list'|trans }}</a>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
	{% include 'shared/footer.html.twig' %}

{% endblock %}
