{% extends 'base.html.twig' %}

{% block title %}{{ 'my_orders.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'my_orders.title'|trans }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'my_orders.order_id'|trans }}</th>
                <th>{{ 'my_orders.date'|trans }}</th>
                <th>{{ 'my_orders.total'|trans }}</th>
                <th>{{ 'my_orders.status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderDate|date('d/m/Y') }}</td>
                    <td>{{ order.total }} €</td>
                    <td>{{ order.status }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'my_orders.no_orders'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}