{% extends 'base.html.twig' %}

{% block title %}{{ 'payment.success_title'|trans }}{% endblock %}

{% block body %}
	<div class="container mt-5 text-center">
		<h1>{{ 'payment.success_title'|trans }} !</h1>
		<p>{{ 'payment.success_message'|trans }}</p>
		<a href="{{ path('app_product_index') }}" class="btn btn-primary mt-3">{{ 'payment.back_to_shop'|trans }}</a>
	</div>
{% endblock %}
